[submodule "Vulray"]
	path = Vulray
	url = https://github.com/Sirtsu55/Vulray.git
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/glfw/glfw.git
	shallow = true
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "Vendor/tinygltf"]
	path = Vendor/tinygltf
	url = https://github.com/syoyo/tinygltf.git
	shallow = true
